<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <app-header></app-header>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" [routerLink]="['/catalog']">Shop</a>
    <a class="p-2 text-dark" [routerLink]="['/cart']">Cart</a>

    <a *ngIf="authService.isAdmin" class="p-2 text-dark" [routerLink]="['/category-list']">Admin Categories</a>
    <a *ngIf="authService.isAdmin" class="p-2 text-dark" [routerLink]="['/product-list']">Admin Products</a>
    <a *ngIf="authService.isAdmin" class="p-2 text-dark" [routerLink]="['/order-list']">Admin Orders</a>

  </nav>
  <div *ngIf="!authService.isLoggedIn">

    <a class="btn btn-primary" [routerLink]="['/sign-up']">Sign up</a>
    <a class="btn btn-outline-secondary" [routerLink]="['/sign-in']">Sign in</a>
  </div>
  <div *ngIf="authService.isLoggedIn">
    <span *ngIf="authService.userData">
      {{authService.userData.displayName}}
      <text *ngIf="!authService.userData.displayName">
        Username
      </text>
      <img *ngIf="authService.userData.photoURL" [src]="authService.userData.photoURL" width="50px" height="50px"
        class="img-thumbnail">
    </span>
    <button (click)="authService.SignOut()" type="button" class="btn btn-outline-secondary">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z" />
        <path fill-rule="evenodd"
          d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
      </svg>
      Log Out</button>
  </div>
</div>